:root {
  --grey-lighter: #dbdee0;
  --grey-light: #8c9b9d;
  --grey: #5e6d6f;
  --grey-dark: #343c3d;
  --grey-darker: #282f2f;
  --grey-darkest: #171b1b;

  --orange: #e67e22;
  --yellow: #f1b70e;
  --green: #2ecc71;
  --turquoise: #1abc9c;
  --blue: #3498db;
  --purple: #8e44ad;
  --red: #e74c3c;
  --white-ter: #ecf0f1;
  --primary: #375a7f;
  --yellow-invert: #fff;
}

html, body {
  overflow: hidden;
  height: 100%;
  overscroll-behavior-y: none;
}

.i {
  width: 1.5rem;
  vertical-align: middle;
  line-height: 1.5rem;
}

.mb-1 {
  margin: 1rem;
}

#editor {
  flex: 1 1 auto;
  margin: 0;
  padding: 0;
  width: 98%
}

.flexcol {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.grid-container {
  height: 100%;
  display: grid;
  grid-template-columns: 7rem auto;
  grid-template-rows: auto 3rem;
  gap: 0px 0px;
  grid-template-areas: "menu main" "statusbar statusbar";
}

pre {
  font-size: 1rem;
}

.statusbar { 
  grid-area: statusbar; 
  background-color: var(--turquoise);
  line-height: 3rem;
  color: var(--grey-darkest);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 0.6rem;
}

.menu { 
  grid-area: menu; 
  height: 100%;
}

.main { 
  height: 100%;
  grid-area: main; 
  background-color: var(--grey-darkest); 
  overflow-y: auto;
  padding: 0;
  margin: 0;
}

.spinner {
  height: 2.5rem; 
  vertical-align: middle;
}

.thumb {
  display: block;
  max-width: 20rem;
  max-height: 15rem;
  width: auto;
  height: auto;
  box-shadow: 0px 8px 8px 2px rgba(0, 0, 0, 0.38);
  margin-left: auto;
  margin-right: auto;
}

.jobs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.jobcard {
  margin: 0.5rem;
  width: 25rem;
}

.logs {
  height: 500px;
  width: 100%;
}

.lightbox {
  width: 100%; 
  text-align:center
}

.about {
  margin: 2rem;
  font-size: 1.2rem;
}

.logo {
  float: left;
  width: 6rem;
  margin-right: 2rem;
}

/* ======= Bulma overrides ====== */

.message {
  width: 50%;
  margin: 0 auto;
}

.progress {
  width: 150px; 
  margin-left: 1rem;
}

.menu-list a {
  color: var(--grey-light);
  line-height: 3rem;
}

.menu-list a:hover {
  background-color: var(--grey-dark);
  color: #fff
}

.menu-list a.is-active {
  color: #fff;
  background-color: var(--primary);
  border-radius: 0px;
}